<div class="main-sider">

    <div class="sider-box">

        <div class="sider-box-title">关于</div>

        <div class="sider-box-content">
            <p>2049BBS 的自动更新镜像站，免翻墙访问。</p>
            <div class="btn">
                <a href="https://github.com/2049bbs/2049bbs.github.io">Github Repo</a>
                <a href="https://github.com/2049bbs/2049bbs.github.io/archive/gh-pages.zip">离线浏览</a>
                <a href="https://2049bbs.github.io/feed.xml">RSS订阅</a>
                <a href="{{ baseURL }}/t/1860.html">节点订阅功能帮助</a>
                {% if page.collection == "category_info" %}<a href="https://2049bbs.github.io/feed/{{ page.cid }}.xml">订阅此节点</a>{% endif %}
            </div>
            <div class="c"></div>
        </div>

    </div>

    <div class="sider-box">

        <div class="sider-box-title">源站地址（已被墙）</div>

        <div class="sider-box-content">
            <p><a href="https://2049bbs.xyz{{ page.url }}">https://2049bbs.xyz{{ page.url }}</a></p>
            <div class="c"></div>
        </div>

    </div>

    <div class="sider-box">

        <div class="sider-box-title">节点</div>

        <div class="sider-box-content">
            <div class="btn">
                {% for category in site.category_info limit: 20 %}
                <a href="{{ baseURL }}/n/{{ category.cid }}.html">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="c"></div>
        </div>

    </div>
</div>
