---
layout: default
---

{% include get_baseurl.html %}

{% assign categoryArticles = site.categories[page.name] %}

<div class="nav-title">
    <div class="float-left fs14">
        <a href="{{ baseURL }}/index.html">{{ site.name }}</a> » {{ page.name }} ({{ categoryArticles | size }})
    </div>

    <div class="c"></div>
</div>

<div class="main-box home-box-list">

    {% assign category_desc = page.excerpt | strip %}

    {% if category_desc %}
    <div class="post-list grey">
        {{ category_desc }}
    </div>
    {% endif %}

    {% for article in categoryArticles limit: 20 %}
        {% include article_list_item.html %}
    {% endfor %}
    
</div>
